<div class="container">
  <h3>Welcome</h3>
  <div class="row">
    <div class="col-12">
      <input type="text" placeholder="Username">
      <input class="ml-2" type="text" placeholder="password">
      <button class="ml-3"  (click)="verify()">Verify</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">

      <button (click)="download()">Export</button>
    </div>
  </div>
</div>
